:root {
    --main-font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --mono-font-stack: "Source Code Pro", "Fira Mono", Menlo, Consolas, "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace, serif;
    --main-light-text-color:#222;
    --main-dark-text-color:#f0f0f0;
    --main-highlight-color:#50287a;
    --main-light-bg-color: rgb(248, 248, 248);
    --main-dark-bg-color:#020203;

    /* Setup for cool darkmode/lightmode thing that all the cool kids have on their sites*/
    --main-bg-color:    var(--main-light-bg-color);
    --main-text-color:  var(--main-light-text-color);
}

a       {text-decoration: none;}
a:hover {text-decoration: underline;}

html {
    color: var(--main-text-color);
    font-family: var(--main-font-stack);
    background-image: url(/static/images/bg-pixels-0.png);
    background-color: var(--main-bg-color);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.page-header{ margin-bottom: 4px; }

.page-header h2{ font-weight: 500; }

.page-header .nav-bar .nav-bar-icons a {
    text-decoration: none;
    margin-right: 6px;
    color: var(--main-text-color);
}

.page-header .nav-bar .nav-bar-icons a:hover { 
    color: var(--main-highlight-color); 
    text-shadow: 0 0 32px black;
}


hr { 
    margin: 6px 0px 12px 0px;
    background-color: var(--main-text-color);
    border: 0 none;
    color: var(--main-text-color);
    height: 1px;
}


.page-header hr { 
    height: 3px;
    width: 70%;
    margin-bottom: 15px;
}

.columns .mobile-img img,
.columns.side-img img{
    width: 100%;
    height: 100%;
}


.footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding-bottom: 3rem;
    text-align: center;
  }


/* Responsiveness stuff */


@media (min-width: 320px) and (max-width: 480px){
    .container {
        margin-top: 4vh;
    }
    .row,
    .columns {
        margin-bottom: 5px;
    }
    #desktop-header {
        display: none;
    }
}

@media (min-width: 481px) {
    .container {
        margin-top: 8vh;
    }
    .row {
        margin-bottom: 15px;
    }
    #mobile-header {
        display: none;
    }
}